@import "../../../assets/scss/_var.scss";

footer {
  font-size: 1.2rem;
  background-color: $mainColor;
  padding: 20px;

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    color: white;
  }

  .github {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-image: url("../../../assets/img/github-svgrepo.svg");
    width: 160px;
    height: 45px;
    background-size: contain;
    background-repeat: no-repeat;

    &.img {
      width: 50px;
      height: 50px;
    }
    a {
      color: white;
    }
  }

  .rss {
    width: 121px;
    height: 45px;
    background-image: url("../../../assets/img/rss.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
}
