<div class="container">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>{{ "HEADER PROJECT" | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>{{ "ABOUT PROJECT" | translate }}</mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>{{ "HEADER COURSE" | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>{{ "ABOUT COURSE" | translate }}</mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>{{ "HEADER DEVELOPER" | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{ "ABOUT DEVELOPER" | translate }}</p>
    </mat-card-content>
  </mat-card>
</div>
