@import "../../assets/scss/_var.scss";

.container {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.card {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: $colorcard;

  mat-card-header {
    mat-card-title {
      color: white;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 1.5rem;
    }
  }

  mat-card-content {
    margin: 0 auto;
    color: white;
  }
}
