$mainColor: #16312c;
$colorBtn: #d77e48;
$colorWhite: white;
$colorcard: #3e4c6a;

// Form//////
$bg-color: #f0f0f0;
$form-width: 300px;
$border: 1px solid #ccc;
$border-radius: 5px;

$bg-color: #f0f0f0;
$form-width: 300px;
$border: 1px solid #ccc;
$border-radius: 5px;
$input-border: 1px solid #ccc;

//Create board
$color-bg-card: #ffffff;
$color-bg-header: #0000ff;
$color-bg-header-dark: #0000cc;
$color-text-general: #4a5568;
$color-border-input: #e2e8f0;
$color-border-input-focus: #0000ff;
$color-border-input-error: #fc8181;
$color-text-error: #fc8181;

$backgroundBody: linear-gradient(to left, #f1f8fa, #c0d6c2);
